@model Modelo.Core.Models.Dominio.Plato
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nuevo Plato</h2>

@using (Html.BeginForm("Create", "Plato"))
{
    <div class="form-group">
        @Html.LabelFor(m => m._Nombre)
        @Html.TextBoxFor(m => m._Nombre, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m._Precio)
        @Html.TextBoxFor(m => m._Precio, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>

}