@model Modelo.Core.Models.Dominio.Guarnicion
@{
                ViewBag.Title = "NewGuarnicion";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Guarniciones</h2>

@using (Html.BeginForm("Create", "Guarnicion"))
{
    <div class="form-group">
        @Html.LabelFor(m => m._NombreGuarnicion)
        @Html.TextBoxFor(m => m._NombreGuarnicion, new { @class = "form-control" })
    </div>

    

    <button type="submit" class="btn btn-primary">Guardar</button>

}