@model Modelo.Core.Models.Dominio.Menu
@{
    ViewBag.Title = "MenuDelDia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Menu Del Dia</h2>

<table id="menuDT" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Nombre de Plato</th>
            <th>Precio del Plato</th>
            <th>Guarniciones</th>
            <th>Seleccionar</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>

