@model Modelo.Models.Menu
@{
    ViewBag.Title = "MenuDelDia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Menu Del Dia</h2>

<table id="menuDT" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Nombre de Plato</th>
            <th>Precio del Plato</th>
            <th>Guarniciones</th>
            <th>Seleccionar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var menu in Model._menuDTOs)
        {
        <tr>
            <td>@menu._NombrePlato</td>
            <td>@menu._PrecioPlato</td>
            <td>@Html.DropDownListFor(Model => Model._ListaNombreGuarniciones, new SelectList(menu._ListaNombreGuarniciones), "Seleccione Guarnicion/es", htmlAttributes: new { @class = "form-control" })</td>
            <td><button type="submit" class="btn btn-primary">Elegir</button></td>
        </tr>
        }
    </tbody>
</table>

